.portfolioItem {
    display: inline-block;
}

.thumbnail  {
    margin: 24px 54px;
}

.thumbnail img {
    box-shadow: 2px 3px 5px rgb(71, 71, 71);
    border: 2px solid rgba(197, 197, 197, 0.733);
}