.carousel {
    min-height: 250px;
    margin: 0;
    padding: 0;
    display: flex;
}

.carousel1 {
    background-image: url('../../assets/image/Initial.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
}

.carousel2 {
    background-image: url('../../assets/image/Second.jpeg');
}

.carousel button {
    background-color: transparent;
    border: none;
    color: white;
}

.buttonanimation {
    animation: buttonanimation 1s ease-out forwards;
}

.carousel button:focus {
    outline: none;
}

@keyframes buttonanimation {
    50% {
        transform-origin: center;
        transform: translateX(-5%);
        color: rgba(255, 180, 40, 0.7);
    }

    100% {
        transform: translateX(0);
        color: white;
    }
}

.carousel p {
    text-align: center;
    color: white;
}

.middle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 15px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-grow: 1;
}

@media (min-width: 600px) {
    .carousel1 {
        background-size: cover;
        min-height: 700px;
    }
}